.h3 {
    font-size: 1.855rem;
}
input {
    outline: 0;
    transition: all 0.2s ease;
}
input:active,
input:focus,
input:hover {
    border-color: #0047ff !important;
}
.input-white {
    padding: 14px 20px;
    border: 1px solid #e0e0ea;
    border-radius: 6px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    color: #14142b;
}
.icon-print::before {
    content: "";
    display: inline-block;
    margin-right: 4px;
    margin-left: 0;
    width: 24px;
    height: 24px;
    background: url(../img/icon-download.svg) no-repeat center;
    background-size: contain;
}
a.mail {
    display: flex;
    align-items: center;
    margin-right: 32px;
    color: #d5cde2;
    font-weight: 500;
    &::before {
        content: "";
        display: inline-block;
        margin-right: 8px;
        width: 20px;
        height: 20px;
        background: url(../img/mail.svg) no-repeat center;
        background-size: contain;
        @media (max-width: 575.98px) {
            width: 30px;
            height: 22px;
        }
    }
    span {
        @media (max-width: 575.98px) {
            display: none;
        }
    }
    @media (max-width: 575.98px) {
        margin-right: 0;
    }
}
.header_top .logo .main-back-link {
    display: flex;
    align-items: center;
    margin-left: 42px;
    color: #d5cde2 !important;
    font-weight: 500;
    &::before {
        content: "";
        display: inline-block;
        margin-right: 8px;
        width: 14px;
        height: 14px;
        background: url(../img/arr-left.svg) no-repeat center;
        background-size: contain;
    }
    @media (max-width: 575.98px) {
        display: none;
    }
}
input.error {
    border: solid 1px #e0205a !important;
}
.main {
    .container {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: calc(100% - 16px);
            display: inline-block;
            width: 100%;
            height: 100%;
            background: #f7f8fa;
            z-index: -1;
            @media (max-width: 575.98px) {
                display: none;
            }
        }
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        @media (max-width: 575.98px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .left {
        height: 100vh;
        width: 100%;
        background-color: #f7f8fa;
        @media (max-width: 1024px) {
            max-width: 58%;
        }
        @media (max-width: 575.98px) {
            max-width: 100%;
            height: auto;
            margin-left: -16px;
            margin-right: -16px;
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 48px;
        }
    }
    .right {
        width: 100%;
        max-width: 27.375rem;
        margin-left: 7rem;
        padding-bottom: 1.875rem;

        @media (max-width: 1279.98px) {
            margin-left: 5rem;
        }
        @media (max-width: 960.98px) {
            margin-left: 3rem;
        }
        @media (max-width: 575.98px) {
            margin-left: 0;
            max-width: 100%;
        }
    }
}
.page-404 {
    background: #171b25;
    padding: 111px 0 170px;
}
.page-404 .container {
    text-align: center;
}
.page-404 img {
    margin: -220px auto 0;
    width: auto !important;
}
.page-404 .box {
    display: block;
    padding: 20px 0;
}
.page-404 .box span {
    display: block;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 50px;
}
.page-404 .box .button {
    padding: 0;
    margin: 0;
    background: 0 0;
    font-size: 16px;
    color: #fff;
    border: none;
    display: inline-block;
    letter-spacing: 1.2px;
    line-height: 70px;
    position: relative;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    width: 245px;
    max-width: 100%;
    border-radius: 45px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border: solid 2px #24bd88;
    text-transform: uppercase;
}
@media screen and (max-width: 768px) {
    .page-404 img {
        width: 100% !important;
    }
    .page-404 {
        padding-bottom: 60px;
    }
    .page-404 img {
        margin-top: -160px;
    }
}
